<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        Chat Room
    </h1>

    <div class="chat">
        <div class="msg">
            Mensaje de prueba 1 mas largo para revisar si funciona el overflow
        </div>
    </div>
    <input tex placeholder="Enviar su Mensaje Aqui" />
    <p>
        <button type="submit">Enviar</button>
    </p>
    <script src="script.js"></script>
</body>

</html>