body{
  text-align: center;
}
.reg {
  margin-top: 400px ;
}
.chat{
  margin: 30px 25% 30px 25%;
  border-style: solid;
  border-color: purple;
  overflow-x: hidden;
  overflow-y: auto;
}
.msg{
  padding-top: 8px;
  padding-left: 20px;
  text-align: left;
}
